#d1f968eaas1 {
	position: absolute;
	font-size: 13px !important;
	font-family: "Arial", helvetica, sans-serif !important;
	white-space: nowrap;z-index: 2147483647;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#a9s46ih3j {
	position: relative;
	top: -14px;
	}
* html #a9s46ih3j { 
	top: -11px; 
}
#a9s46ih3j a { 
	text-decoration: none !important; 
}
#a9s46ih3j a:hover { 
	text-decoration: underline !important; 
}
#ae27a9ed1bf {
	z-index: 2147483647;
	display: inline-block !important;
	font-size: 16px;
	padding: 7px 59px 9px 59px;
	background: transparent url("http://static-cdn1.webnode.com/img/footer/footerButtonWebnodeHover.png") top left no-repeat;
	height: 18px;
	cursor: pointer;
}
* html #ae27a9ed1bf { 
	height: 36px; 
}
#ae27a9ed1bf:hover { 
	background: url("http://static-cdn1.webnode.com/img/footer/footerButtonWebnode.png") top left no-repeat; 
}
#ky2zrt1l4 { 
	display: none; 
}
#j7mrj0m1tk {
	z-index: 3000;
	text-align: left !important;
	position: absolute;
	height: 88px;
	font-size: 13px !important;
	color: #ffffff !important;
	font-family: "Arial", helvetica, sans-serif !important;
	overflow: hidden;
	cursor: pointer;
}
#gg250d81a {
	color: #36322D !important;
	text-decoration: none !important;
	font-weight: bold !important;
	float: right;
	height: 31px;
	position: absolute;
	top: 19px;
	right: 15px;
	cursor: pointer;
}
#e9g6lmlxo { 
	float: right; 
	padding-right: 27px; 
	display: block; 
	line-height: 31px; 
	height: 31px; 
	background: url("http://static-cdn1.webnode.com/img/footer/footerButton.png") top right no-repeat; 
	white-space: nowrap; 
}
#ls0e92x1tp { 
	position: relative; 
	left: 1px; 
	float: left; 
	display: block; 
	width: 15px; 
	height: 31px; 
	background: url("http://static-cdn1.webnode.com/img/footer/footerButton.png") top left no-repeat; 
}
#gg250d81a:hover { 
	color: #36322D !important; 
	text-decoration: none !important; 
}
#gg250d81a:hover #e9g6lmlxo { 
	background: url("http://static-cdn1.webnode.com/img/footer/footerButtonHover.png") top right no-repeat; 
}
#gg250d81a:hover #ls0e92x1tp { 
	background: url("http://static-cdn1.webnode.com/img/footer/footerButtonHover.png") top left no-repeat; 
}
#c80997a16712l {
	padding-right: 11px;
	padding-right: 11px;
	float: right;
	height: 60px;
	padding-top: 18px;
	background: url("http://static-cdn1.webnode.com/img/footer/footerBubble.png") top right no-repeat;
}
#aoaoqh8gn {
	float: left;
	width: 18px;
	height: 78px;
	background: url("http://static-cdn1.webnode.com/img/footer/footerBubble.png") top left no-repeat;
}
* html #ae27a9ed1bf { 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static-cdn1.webnode.com/img/footer/footerButtonWebnode.png'); 
	background: transparent;
}
* html #ae27a9ed1bf:hover { 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static-cdn1.webnode.com/img/footer/footerButtonWebnodeHover.png'); 
	background: transparent; 
}
* html #c80997a16712l { 
	height: 78px; 
	background-image: url("http://static-cdn1.webnode.com/img/footer/footerBubbleIE6.png");  
}
* html #aoaoqh8gn { background-image: url("http://static-cdn1.webnode.com/img/footer/footerBubbleIE6.png"); }
* html #e9g6lmlxo { background-image: url("http://static-cdn1.webnode.com/img/footer/footerButtonIE6.png"); }
* html #ls0e92x1tp { background-image: url("http://static-cdn1.webnode.com/img/footer/footerButtonIE6.png"); }
* html #gg250d81a:hover #rbcGrSigTryButtonRight { background-image: url("http://static-cdn1.webnode.com/img/footer/footerButtonHoverIE6.png");  }
* html #gg250d81a:hover #rbcGrSigTryButtonLeft { background-image: url("http://static-cdn1.webnode.com/img/footer/footerButtonHoverIE6.png");  }
label.forBlind {
	display: inherit !important;
	position: inherit !important;
}
.diskuze #postText, .diskuze .feWebFormTextarea {max-width: 100% !important;}


